*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  background-color: #FFF;
  overflow-x: hidden;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.border {
  border: 1px solid red;
}